// Hell no, we don't support IE7. Never.
$mfp-IE7support: false;

@import '../node_modules/magnific-popup/src/css/main';

.mfp-content {
    pointer-events: none;
}

.popup-block {
    position: relative;
    text-align: left;
    margin: 0 auto;
    pointer-events: auto;
}

// Animation
.mfp-fade {
    &.mfp-bg {
        opacity: 0;
        transition: all 300ms ease-out;
    }

    &.mfp-bg.mfp-ready {
        opacity: .8;
    }

    &.mfp-bg.mfp-removing {
        opacity: 0;
    }

    &.mfp-wrap .mfp-content {
        opacity: 0;
        transition: all 300ms ease-out;
    }

    &.mfp-wrap.mfp-ready .mfp-content {
        opacity: 1;
    }

    &.mfp-wrap.mfp-removing .mfp-content {
        opacity: 0;
    }
}
